---
master-colors:
  - name: Cowan blue
    hex: 7AB1E8
    rgba: 122. 177. 232. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan blue 2
    hex: 9AD1D4
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan aqua
    hex: C1DFF0
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan green
    hex: DDEDAA
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan cream
    hex: FFE8D1
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C
  - name: Cowan pink
    hex: FFE8D1
    rgba: 0. 0. 0. 1
    cmyk: 49. 20. 0. 0
    pms: 000 C

secondary-colors:
  - name: Cowan grey
    hex: 828A95
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan light grey
    hex: DBDBDB
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan teal
    hex: BEE3DB
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan apricot
    hex: F7C59F
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan peach
    hex: F7C59F
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan lime
    hex: EDEEC0
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C

tints_shades:
  - name: Cowan blue s12
    hex: 113b65
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s11
    hex: 144576
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s10
    hex: 174f87
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s9
    hex: 1a5997
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s8
    hex: 1d63a8
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s7
    hex: 206cb9
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s6
    hex: 2376c9
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s5
    hex: 2680da
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s4
    hex: 378adc
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s3
    hex: 4894df
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s2
    hex: 599de2
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue s1
    hex: 69a7e5
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue
    hex: 7ab1e8
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t1
    hex: 8bbbeb
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t2
    hex: 9bc5ee
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t3
    hex: accef1
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t4
    hex: bdd8f4
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t5
    hex: cee2f6
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t6
    hex: deecf9
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C
  - name: Cowan blue t7
    hex: eff6fc
    rgba: 0. 0. 0. 1
    cmyk: 0. 0. 0. 0
    pms: 000 C

gradients:
  - color1: 378adc
    color2: 7ab1e8
  - color1: 378adc
    color2: bdd8f4
  - color1: 7ab1e8
    color2: eff6fc
---

<!DOCTYPE html>
<html>
  <head>
    <title>Identity | Brand Name Design System</title>
    <link rel="stylesheet" href="styles/gridlex.min.css">

    <!--Mobile Responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Mobile Responsiveness-->

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <!--VISUAL LANGUAGE-->

  <section id="visual-language">

    <!-- Visual Language Banner -->

    <div class="flex-central-stack visual-language">
      <h3>
        Visual Language
      </h3>
      <a href="#visuallanguage">
        <img src="assets/accordian_sml_down.svg" alt="">
      </a>
    </div>

    <!-- Colour Title -->

    <div class="padding5">
      <div>
        <h3 class="color-blue">
          Colour
        </h3>
        <hr class="hr-short">
      </div>

      <!-- Master Colours Title -->

      <h4>
        Master
      </h4>

        <!-- Master Colour swatch grid -->

      <div class="grid">

        {% for item in page.master-colors %}

        <div class="col-2">
          <div class="color-tile-lge" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
          <p class="text-bold-400"> {{item.name}} </p>
          <p></p>
          <p> Hex: #{{item.hex}} </p>
          <p> RGBa: {{item.rgba}} </p>
          <p> CMYK: {{item.cymk}} </p>
          <p> PMS: {{item.pms}} </p>
        </div>

        {% endfor %}

      </div>
      <hr class="hr-long">

      <!-- Secondary Colours Title -->

      <h4>
        Secondary
      </h4>


      <div class="grid">

          {% for item in page.secondary-colors %}

        <div class="col-2">
          <div class="color-tile-lge" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
          <p class="text-bold-400"> {{item.name}} </p>
          <p> Hex: #{{item.hex}} </p>
          <p> RGBa: {{item.rgba}} </p>
          <p> CMYK: {{item.cymk}} </p>
          <p> PMS: {{item.pms}} </p>
        </div>

        {% endfor %}

      </div>
      <hr class="hr-long">

      <!-- Tints & Shades Title -->

      <h4>
        Tints & Shades
      </h4>

      <!-- Tints & Shades swatch grid -->

      <div class="grid-10">

        {% for item in page.tints_shades %}

        <div class="col">
          <div class="color-tile-sml" style="background-color:#{{item.hex}}"></div> <!--colour-fill-->
          <p class="text-bold-400"> {{item.name}} </p>
        <p> Hex: #{{item.hex}} </p>
        </div>

        {% endfor %}

      </div>
      <hr class="hr-long">

      <!-- Gradients Title -->

      <h4>
        Gradients
      </h4>

      <!-- Gradient 1 -->

  {% for item in page.gradients %}
      <div class="colorgradient" style="background: linear-gradient(to right, #{{item.color1}}, #{{item.color2}})">
      </div>
      <div class="grid">
        <p class="col-6">
          #{{item.color1}}
        </p>
        <p class="align-right col-6">
          #{{item.color2}}
        </p>
      </div>

  {% endfor %}

      <hr class="hr-long">

      <!-- TYPOGRAPHY -->
      <!-- Typography Title -->

      <h3 class="color-blue">
        Typography
      </h3>
      <hr class="hr-short">

      <!--Insert download button here-->
      <a href="..."></a>
      <!--Insert download button here-->

      <div class="grid-top">
        <div class="large-type-padding col-4">
          <p class="editable">
            <span class="text-bold-400" > Headlines </span>  / Font Name / Point Size / Line Height
          </p>
        </div>

        <div class="large-type-padding col-8">
          <p class="large-type color-grey editable">
            We design answers.<span class="linebreak">1234567890!&amp;£$@</span>
          </p>
        </div>

        <div class="medium-type-padding col-4">
          <p class="editable">
            <span class="text-bold-400" > Subtitles </span>  / Font Name / Point Size / Line Height
          </p>
        </div>

        <div class="medium-type-padding col-8">
          <p class="medium-type color-grey editable">
            We design answers.
          </p>
        </div>

        <div class="small-type-padding col-4">
          <p class="editable">
            <span class="text-bold-400 editable" > Small Subtitles </span> / Font Name / Point Size / Line Height
          </p>
        </div>

        <div class="small-type-padding col-8">
          <p class="small-type color-grey editable">
            We design answers.
          </p>
        </div>

        <div class="xsmall-type-padding col-4">
          <p class="editable">
            <span class="text-bold-400 editable" > Body Copy </span> / Font Name / Point Size / Line Height
          </p>
        </div>

        <div class="xsmall-type-padding col-8">
          <p class="xsmall-type color-grey editable">
            We design answers.
          </p>
        </div>
      </div>
    </div>
  </section>
</html>
